{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block script %}
<link rel="preload" href="/static/images/img (0).jpg" as="image">
<link rel="prefetch" href="/static/images/tip.jpg">
{% for i in range(7) %}
    <link rel="prefetch" href="/static/images/img ({{ i+1 }}).jpg">
{% endfor %}
<style>
    .image {
        background-image: url("/static/images/img (0).jpg");
    }
    .bg {
        height: 100%;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}

{% block main %}


    <form action="/login" method="post">
        <div class="centered-form center-block justify-content-center container py-5 px-5"><div class="pt-5"><div class="pt-1"><div class="py-5"><div class="py-2 px-2" style="background-color: rgba(255, 255, 255, 0.5); border-radius:0.5rem;">
            {% if next is defined %}
            <div class="input-group col px-0 pt-2 justify-content-center">
                <select class="custom-select" name="hid" autofocus required>
                    <option selected disabled>Hostel</option>
                    {% for hostel in hostels %}
                    <option value="{{ hostel['hid'] }}">{{ hostel["hname"] }}</option>
                    {% endfor %}
                </select>
            </div>
            <hr>
            <div class="input-group col px-0 justify-content-center">
                <input autocomplete="off" class="form-control" name="otp" placeholder="Enter OTP" type="number" required>
            </div>
            <div class="input-group col px-0 justify-content-center">
                <small class="form-text text-muted">(sent to your email)</small>
            </div>
            {% else %}
            <div class="input-group col px-0 pt-2 justify-content-center">
                <input autocomplete="off" class="form-control form-control-lg" name="email" placeholder="email" type="text" required>
                <div class="input-group-append">
                    <span class="input-group-text">@iitg.ac.in</span>
                </div>
            </div><br>
            {% endif %}
            <div class="pb-2 px-0 input-group col justify-content-center">
                <button class="btn rounded-0 btn-primary pb-2 btn-lg btn-block" type="submit">Log In</button>
            </div>
        </div></div></div></div></div>
    </form>
{% endblock %}
